
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="step-indicator">
        <div class="col-4">
          <div class="step">
            <div class="step-number-active"
                [ngClass]="{'step-number-actived': status==='confirm'}">1</div>
            <div class="step-label">Input Detail</div>
          </div>
        </div>
        <div class="col-4 line"
        [ngClass]="{'line-active': status==='confirm'}"></div>
        <div class="col-4">
          <div class="step">
            <div class="step-number-non-active"
              [ngClass]="{'step-number-active-re': status==='confirm'}">2</div>
            <div class="step-label-non-active"
                [ngClass]="{'step-label-active': status==='confirm'}">Review & Confirm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>