<app-navbar></app-navbar>
<h1 class="tax-header">Submit Tax Filing</h1>
<app-stepper></app-stepper>
<div class="container">
    <div class="card">
        <div class="card-body">
            <app-filing-type (filingTypeEvent)="setFilingType($event)" [status]="status" [taxData]="taxData"></app-filing-type>
            <app-vat-month [filingType]="filingType" (vatMonthEvent)="setVatMonth($event)"  [status]="status" [taxData]="taxData"></app-vat-month>
            <app-tax-computation [filingType]="filingType" (taxComputationEvent)="setTaxConputation($event)"  [status]="status"></app-tax-computation>
        </div>
    </div>
</div>
<br>
<footer>
<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="tax-back-button">Back</button>
            <button class="tax-submit-button" (click)="onClickNextToSubmit()">Next</button>
        </div>
    </div>
</div>
</footer>