<br />
<div class="row">
    <div class="col-9">
        <span class="tax-under-header"  *ngIf="status === 'create'">2. Tax Computation</span>
        <span class="tax-under-header"  *ngIf="status === 'confirm'">Tax Computation</span>
    </div>
    <div class="col-3">
        <button class="btn-exchange-rate"><u class="tax-under-header">View Exchange Rate</u></button>
    </div>
</div>
<hr>
<form [formGroup]="taxForm">
    <div class="row">
        <div class="col-12">
            <span class="tax-under">Provide total value taxable electronic service <span class="text-danger">*</span></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-9"  *ngIf="status === 'create'">
            <span>1. Total value of taxable electronic service exclusive of VAT</span>
        </div>
        <div class="col-7"  *ngIf="status === 'confirm'">
            <span class="label-confirm">Total value of taxable electronic service exclusive of VAT</span>
        </div>
            <div class="col-3 text-right"  *ngIf="status === 'create'">
                <input type="text" 
                #myInput
                class="form-control input-number" 
                formControlName="saleAmount" 
                (input)="onInputValue($event)" 
                (change)="onChangeValue()" 
                (click)="onClick($event)"
                [ngModel]="saleAmount | number:'1.2-2'"
                [ngClass]="{'field-invalid': formGroup['saleAmount'].errors?.['required'] || !formGroup['saleAmount'].value}">
                <span class="currency-position"> THB</span>
                <span class="text-alert-invalid" *ngIf="!formGroup['saleAmount'].value">Value more than 0</span>
            </div>
            <div class="col-3   text-currency" *ngIf="status === 'confirm'">
                <span>{{taxDataDocument?.saleAmount?.toString()  | number:'1.2-2'}}</span>
            </div>
            <div class="col-2"  *ngIf="status === 'confirm'">
                <span class="label-confirm total-confirm"> THB</span>
            </div>
    </div>
<br>
    <div class="row">
        <div class="col-9"  *ngIf="status === 'create'">
            <span>2. Total VAT to be remitted (7% of 1.)</span>
        </div>
        <div class="col-7"  *ngIf="status === 'confirm'">
            <span class="label-confirm">Total VAT to be remitted </span>
        </div>
        <div class="col-3"  *ngIf="status === 'create'">
            <input type="text" 
            class="form-control input-number" 
            formControlName="taxAmount"
            (input)="onInputValue($event)" 
            (change)="onChangeValue()" 
            (click)="onClick($event)"
            [ngModel]="taxAmount | number:'1.2-2'"
            [ngClass]="{'field-invalid': formGroup['taxAmount'].errors?.['required'] || formGroup['taxAmount'].errors?.['min']}">
            <span class="currency-position"> THB</span>
            <span class="text-alert-invalid" *ngIf="!formGroup['taxAmount'].value">Value more than 0</span>
        </div>
        <div class="col-3   text-currency" *ngIf="status === 'confirm'">
            <span>{{taxDataDocument?.taxAmount?.toString()  | number:'1.2-2'}}</span>
        </div>
        <div class="col-2"  *ngIf="status === 'confirm'">
            <span class="label-confirm total-confirm"> THB</span>
        </div>
    </div>
</form>
<div class="row" *ngIf="status === 'confirm'">
    <div class="col-9">
        <span>(7% of Total value of taxable electronic service exclusive of VAT) </span>
    </div>
</div>
<br />
<app-tax-additional-late-filing *ngIf="isAdditionalFiling()" 
                                [status]="status" 
                                [filingType]="filingType" 
                                [taxData]="taxData"
                                [saleAmount]="saleAmount" 
                                [taxAmount]="taxAmount" 
                                (taxAddLateFilingEvent)="prepareDataEmitToDocument($event)"></app-tax-additional-late-filing>
<br />
<div class="row" *ngIf="status === 'confirm'">
    <div class="col-7">
        <span class="label-confirm">Total Amount Payable</span>
    </div>
    <div class="col-3  text-currency">
        <span class="label-confirm total-confirm">{{ filingType?.code === '1' ? (taxDataDocument?.taxAmount?.toString() | number:'1.2-2') : (taxDataDocument?.totalVat?.toString()  | number:'1.2-2')}}</span>
    </div>
    <div class="col-2">
        <span class="label-confirm total-confirm"> THB</span>
    </div>
</div>