<br />
<div class="row">
    <div class="col-9">
        <span class="tax-under-header">2. Tax Computation</span>
    </div>
    <div class="col-3">
        <button class="btn-exchange-rate"><u class="tax-under-header">View Exchange Rate</u></button>
    </div>
</div>
<hr>
<form [formGroup]="taxForm">
    <div class="row">
        <div class="col-12">
            <span class="tax-under">Provide total value taxable electronic service <span class="text-danger">*</span></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            1. Total value of taxable electronic service exclusive of VAT
        </div>
            <div class="col-3">
                <span class="currency-position"> THB</span>
                <input type="text" 
                #myInput
                class="form-control input-number" 
                formControlName="saleAmount" 
                (input)="onInputValue($event)" 
                (change)="onChangeValue()" 
                (click)="onClick($event)"
                [ngModel]="saleAmount | number:'1.2-2'">
            </div>
    </div>
<br>
    <div class="row">
        <div class="col-9">
            2. Total VAT to be remitted (7% of 1.)
        </div>
        <div class="col-3">
            <span class="currency-position"> THB</span>
            <input type="text" 
            class="form-control input-number" 
            formControlName="taxAmount"
            (input)="onInputValue($event)" 
            (change)="onChangeValue()" 
            (click)="onClick($event)"
            [ngModel]="taxAmount | number:'1.2-2'">
        </div>
    </div>
</form>
<app-tax-additional-late-filing *ngIf="isAdditionalFiling()" [saleAmount]="saleAmount" [taxAmount]="taxAmount" ></app-tax-additional-late-filing>