$primary: #368046;
$primary-hover: #409252;
$primary-table: #55865f;
$primary-popup: #b4debd;
$primary-disable: #bad4c0;
$primary-data-table: #eff7f1;

$secondary: #b20000;
$secondary-cancel: #a80000;
$secondary-popup: #c43d3d;
$secondary-disable: #e5b0b1;

$base-black: #000000;
$base-gray: #89898a;
$base-dark-gray: #707070;
$base-disable: #CCCCCC;
$base-gray-disable: #f8fbf9;
$base-gray-icon-disable: #f3f3f3;
$base-light-gray: #f7f7f7;
$base-white: #ffffff;

$warning: #f77300;

$dark-blue: #212529;
