
<div class="row" *ngIf="status === 'create'">
    <div class="col-6">
        <label>Vat Month <span class="text-danger">*</span></label>
    </div>
    <div class="col-6" *ngIf="isAdditionalFiling()">
        <label>Type <span class="text-danger">*</span></label>
    </div>
</div>
<form [formGroup]="vatMonthForm" *ngIf="status === 'create'">
    <div class="row">
        <div class="col-3">
            <select class="form-select" id="month" 
                    formControlName="month" 
                    (change)="onMonthChange()" 
                    [ngClass]="{'field-invalid': formGroup['month'].errors && formGroup['month'].touched}">
                <option value=null selected>-Please Select-</option>
                <option *ngFor="let month of filterMonth" [ngValue]="month.code">
                    {{month.name}}
                </option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" 
                    id="year" 
                    formControlName="year" 
                    (change)="onYearChange()"
                    [ngClass]="{'field-invalid': formGroup['year'].errors?.['required'] && formGroup['year'].touched}">
                <option value=null selected>-Please Select-</option>
                <option *ngFor="let year of years" [ngValue]="year.code">
                    {{year.name}}
                </option>
            </select>
        </div>
        <div class="col-3" *ngIf="isAdditionalFiling()">
            <select class="form-select" id="type" formControlName="type" (change)="onTypeChange()"
            [ngClass]="{'field-invalid': formGroup['type'].errors?.['required'] && formGroup['type'].touched}">
                <option value=null selected>-Please Select-</option>
                <option *ngFor="let type of types" [ngValue]="type.code">
                    {{type.name}}
                </option>
            </select>
        </div>
    </div>
</form>

<div class="row" *ngIf="status === 'confirm'">
    <div class="col-2">
        <label class="label-confirm">Vat Month</label>
    </div>
    <div class="col-10">
        <span>{{taxDataDocument?.vatMonth?.name}} {{taxDataDocument?.vatYear?.name}} {{taxDataDocument?.type?.name}}</span>
    </div>
</div>